@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
  background: #rgba 224, 220, 121, 0.75;
}

body {
  background: #499bea;
  background: -webkit-gradient(left top, right top, color-stop(0%, #499bea), color-stop(4%, #499bea), color-stop(42%, #2969ad), color-stop(100%, #2969ad));
  background: -ms-linear-gradient(left, #499bea 0%, #499bea 4%, #2969ad 42%, #2969ad 100%);
}

header {
  background: salmon;
  width: 100%;
  height: 123px;
  padding: 1.5px 0;
  margin-bottom: 5rem;
}

header h1 {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 123px;
  padding: 1.5px 0;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  text-decoration: underline;
}

#Msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Msg div {
  margin-bottom: 2rem;
  text-align: center;
}

#Msg div label {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#Msg div input {
  width: 500px;
  font-size: 2rem;
  font-weight: 300;
  padding: 20px;
  border-style: none;
  border-bottom: 1px solid #e4e4f0;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: #e4e4f0;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

#Msg div input:focus {
  outline: none;
}

#Msg div textarea {
  width: 500px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 20px;
  margin-top: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

#Msg div button {
  width: 250px;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
  background: #rgba 224, 220, 121, 0.75;
}

/* .container{
  width: 1291px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #2f4f4f;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(400px auto);
  grid-rows: 400px 400px 400px 400px;
  grid-gap: 15px;
  position: absolute;
} */

.header-wrapper {
  position: relative;
  width: 1291px;
  height: 100vh;
  margin: 0 auto;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e5799 0%, rgba(30, 87, 153, 0.94) 18%, rgba(224, 220, 121, 0.75) 79%, rgba(30, 87, 153, 0.71) 93%, rgba(30, 87, 153, 0.69) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.top-header {
  width: 100%;
  height: 123px;
  padding: 1.5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.left-info {
  color: #333333;
  font-size: 16px;
  margin: 35px 299.984px 0px 0px;
  padding: 0 0 0 40px;
}

.right-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #111111;
  text-shadow: 2px 2px black;
}

/* ******/

.nav-container {
  position: absolute;
  width: 250px;
  height: 100vh;
  z-index: 1;
  text-align: center;
}

.sidenav {
  /* background: #rgba(224,220,121,0.75); */
  position: relative;
  height: 275px;
  width: 250px;
  z-index: 1;
  /* transform: translate3d(-100%,0,0); */
  transition: all 0.4s ease-in-out;
  /* -webkit-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
  background-color: #111; */
}

.sidenav.active {
  /* transform: translate3d(0,0,0); */
}

.sidenav a {
  left: 0;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 5px;
  background: #404040;
  margin: 5px 10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav button {
  position: relative;
  /* right: -300px; */
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: inline-block;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 5px;
  background: #404040;
  margin: 5px 10px;
}

.show {
  display: block;
}

.none {
  display: none;
}

.sidenav .closebtn {
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* ******/

.middle-info {
  text-align: center;
}

.middle-info .img-box {
  width: 420px;
  height: 120px;
  margin: 10px auto;
}

.middle-info .img {
  /* margin: 0 26px; */
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.right-info {
  /* padding: 0 0 0 19.3594px; */
  font-size: 18px;
  text-align: center;
  justify-content: center;
  /* padding-left: 1.5%; */
}

.right-info p {
  display: inline-block;
  padding: 42px 0;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  padding-left: 1.5%;
}

.bottom-header {
  display: inline-block;
  margin: 0 214px;
  text-align: center;
  height: 51px;
  padding: 12px 0;
}

.bottom-header nav ul {
  margin: 0 auto;
}

.bottom-header nav ul li {
  display: inline-block;
}

.bottom-header nav ul li a {
  font-size: 19px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

#feedback {
  height: 100vh;
  width: 100%;
  background: #1e5799;
  /* background-repeat: repeat;
  background-size: cover;
  background-position: center; */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(400px auto);
  grid-template-rows: 400px 400px 400px 400px;
  /* grid-gap: 15px; */
}

.marqee-section {
  /* grid-column: 1/5;
  grid-row: 3/5; */
  color: #1f1f1f;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  margin: 30px auto;
  box-shadow: -5px 10px 10px -2px #7c7b82;
  opacity: 0.9;
  display: grid;
  grid-template-columns: 200px 100px 1fr 200px 1fr;
  border: 1px solid green;
  padding: 20px;
}

.authId {
  /* height: 100%;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.marqee-section .author-img {
  /* padding: 10px; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  margin-bottom: 20px;
}

.marqee-section .author-img img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: -5px 10px 10px -2px #7c7b82;
  border-radius: 50%;
}

.marqee-section .who h5 {
  box-shadow: -5px 10px 10px -2px #7c7b82;
  border-radius: 3px;
  padding: 2px;
}

.marqee-section .hands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.marqee-section .hands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.marqee-section .thumbs-up {
  display: inline-flex;
}

.marqee-section .thumbs-up .fa {
  font-size: 1.5rem;
  color: green;
  margin: 0 10px 20px 0;
}

.marqee-section .thumbs-down {
  display: inline-flex;
}

.marqee-section .thumbs-down .fa {
  font-size: 1.5rem;
  color: red;
  margin: 0 10px 0 0;
  transform: scaleX(-1);
}

.marqee-section .comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.marqee-section .comment p {
  box-shadow: -5px 10px 10px -2px #7c7b82;
  border-radius: 3px;
  padding: 10px;
}

.marqee-section .response {
  display: inline-block;
  width: 33%;
  box-shadow: -5px 10px 10px -2px #7c7b82;
  /* float: right; */
  /* padding: 0px 536px 0 0; */
  /* border: 1px dotted red; */
}

marquee {
  text-align: center;
  grid-gap: 15px;
  grid-column: 1/5;
  grid-row: 1/3;
}

.marqee-section p {
  font-size: 0.9rem;
}

